.DS_Store
*/.git
mpd/pid
mpd/state
mpd/log
mps/mps-youtube/input_history
mps/mps-youtube/play_history.m3u
mps/mps-youtube/cache*
mpv/watch_later
nnn/.selection
nvim/plugin/packer_compiled.lua
ranger/history
ranger/bookmarks
sublime-text/SBS*
sublime-text/Package\ Control.last-run
sublime-text/Package\ Control.ca-list
sublime-text/Package\ Control.merged-ca-bundle
sublime-text/Package\ Control.user-ca-bundle
sublime-text/Package\ Control.ca-bundle
sublime-text/Package\ Control.system-ca-bundle
sublime-text/Package\ Control.cache/
sublime-text/Package\ Control.cache/***
sublime-text/Package\ Control.ca-certs/
sublime-text/Package\ Control.ca-certs/***
sublime-text/oscrypto-ca-bundle.crt
vim/vim/.netrwhist
vim/vim/bundle
zsh/zsh/history
*.sublime-workspace
*.sublime-project
nnn/sessions
