[Desktop Entry]
Name=Delver
Comment=Play this game on Steam
Exec=steam steam://rungameid/249630
Icon=steam_icon_249630
Terminal=false
Type=Application
Categories=Game;
