[Desktop Entry]
Name=Loop Hero
Comment=Play this game on Steam
Exec=steam steam://rungameid/1282730
Icon=steam_icon_1282730
Terminal=false
Type=Application
Categories=Game;
