[Desktop Entry]
Name=Rise to Ruins
Comment=Play this game on Steam
Exec=steam steam://rungameid/328080
Icon=steam_icon_328080
Terminal=false
Type=Application
Categories=Game;
