[Desktop Entry]
Name=Settlement Survival
Comment=Play this game on Steam
Exec=steam steam://rungameid/1509510
Icon=steam_icon_1509510
Terminal=false
Type=Application
Categories=Game;
